# .env.example — скопируй в .env и заполни

DB_HOST_LOCAL=localhost
DB_HOST_DOCKER=db
DB_PORT=5432
DB_NAME=calendar_db
DB_USER=calendar_bot
DB_PASSWORD=postgres
DB_MINCONN=1
DB_MAXCONN=10

RUN_ENV=local

TELEGRAM_BOT_TOKEN=your_token_here

#И добавь в .gitignore:
#.env